<%- include('../partials/_header.ejs') %>

<form action="/users/<%=currentUser._id %>/lifts/<%= lift._id %>?_method=PUT" method="POST">
    <label for="name">Lift: </label>
    <input type="text" name="name" id="name" value="<%= lift.name %>"/>
    <br>
    <label for="one-rep-max">One Rep Max:</label>
    <input type="number" name="oneRepMax" id="one-rep-max" value="<%= lift.oneRepMax %>">
    <br>
    <label for="three-rep-max">Three Rep Max:</label>
    <input type="number" name="threeRepMax" id="three-rep-max" value="<%= lift.threeRepMax %>">
    <br>
    <label for="five-rep-max">Five Rep Max:</label>
    <input type="number" name="fiveRepMax" id="five-rep-max" value="<%= lift.fiveRepMax %>">
    <br>
    <button type="submit">Confirm Lift Update</button>

</form>
</main>
</body>
</html>