<%- include('../partials/_header.ejs') %>

    <% if (currentUser.lifts.length > 0) { %>
    <ul>
    <% for( let each of currentUser.lifts ) { %>
        <li>
            <a href="/users/<%=currentUser._id %>/lifts/<%= each._id %>"><%= each.name %></a>
        </li>
        <br>
        <br>
    <% } %>
    </ul>
    <% } else { %>
    <h3>Do you even lift bro?</h3>
    <% } %>
<div class="add-link">
<a href="/users/<%= user._id %>/lifts/new"><button>Add a new lift</button></a>
</div>

</main>
</body>