<%- include('../partials/_header.ejs') %>
<h1>Welcome to my lifts</h1>
<main>
    <% if (currentUser.lifts.length > 0) { %>
    <ul>
    <% for( let each of currentUser.lifts ) { %>
        <li>
            <a href="/users/<%=currentUser._id %>/lifts/<%= each._id %>"><%= each.name %></a>
        </li>
        <br>
        <br>
    <% } %>
    </ul>
    <% } else { %>
    <h3>Do you even lift bro?</h3>
    <% } %>
<a href="/users/<%= user._id %>/lifts/new">Add a new lift</a>

</main>
</body>