<%- include('../partials/_header.ejs') %>

<div class="lift-display">
    <h2>Lift: <%= lift.name %></h2>
    <p>One Rep Max: <%= lift.oneRepMax %></p>
    <p>Three Rep Max: <%= lift.threeRepMax %></p>
    <p>Five Rep Max: <%= lift.fiveRepMax %></p>
</div>

<a href="/users/<%= currentUser._id %>/lifts/<%= lift._id %>/edit"><button>Edit</button></a>
<form action="/users/<%=currentUser._id %>/lifts/<%= lift._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<a href="/users/<%= currentUser.id %>/lifts"><button>Back to my lifts</button></a>

</main>
</body>
</html>